* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  padding: 0;
  text-align: center;
  
  height: 34px;
  width: 34px;
}

.status {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.1em;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
}

.boardContainer{
    display: flex;
    flex-wrap: wrap;
    width: 140px;
    height: 140px;
}

.boardContainer > * {
    width: calc(100% / 3);
    height: calc(100% / 3)
}

.movesText {
    margin-bottom: 15px;
    font-weight: bold;
    background: #000;
    color: #fff;
}

.movesList {
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.movesList li {
    margin: 10px 0;
}

.movesList li > button {
    padding: 5px;
}

.toggleAscendingButton {
    background: #19181b;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    max-height: 40px;
    font-size: 1.1em;
    margin: 30px 0 0 40px;
}